:root {
    --green: #2e7d32;
    --bg: #f5f7f6;
    --card: #ffffff;
    --text: #333;
}

body.dark {
    --bg: #121212;
    --card: #1e1e1e;
    --text: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
}

nav {
    background: var(--green);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: 600;
}

.toggle {
    cursor: pointer;
    margin-left: 15px;
}

.hero {
    background: linear-gradient(120deg, #2e7d32, #66bb6a);
    padding: 60px 20px;
    color: white;
    text-align: center;
}

.container {
    padding: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: var(--card);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.badge {
    background: #c8e6c9;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
}

form {
    max-width: 400px;
    background: var(--card);
    padding: 25px;
    border-radius: 10px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background: var(--green);
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width:768px){
    nav {
        flex-direction: column;
    }
}


.flash {
    padding: 10px 12px;
    border-radius: 6px;
    margin-bottom: 12px;
    font-weight: 600;
}

.flash-success {
    background: #d4edda;
    color: #155724;
}

.flash-warning {
    background: #fff3cd;
    color: #856404;
}

.flash-danger {
    background: #f8d7da;
    color: #721c24;
}
