<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <script>
        function toggleDark() {
            document.body.classList.toggle("dark");
            localStorage.setItem("theme",
                document.body.classList.contains("dark") ? "dark" : "light");
        }
        window.onload = function () {
            if (localStorage.getItem("theme") === "dark") {
                document.body.classList.add("dark");
            }
        };
    </script>
</head>
<body>

<nav>
    <h1>🌱 FarmKart</h1>
    <div>
        <a href="/dashboard">Dashboard</a>
        <span class="toggle" onclick="toggleDark()">🌙</span>
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="flash flash-{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post">
        <h2>Add Product</h2>
        <input name="name" placeholder="Product Name" required>
        <input name="price" type="number" min="1" placeholder="Price" required>
        <input name="quantity" type="number" min="1" placeholder="Quantity" required>
        <button>Add</button>
    </form>
</div>

</body>
</html>
