<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <script>
        function toggleDark() {
            document.body.classList.toggle("dark");
            localStorage.setItem("theme",
                document.body.classList.contains("dark") ? "dark" : "light");
        }
        window.onload = function () {
            if (localStorage.getItem("theme") === "dark") {
                document.body.classList.add("dark");
            }
        };
    </script>
</head>
<body>

<nav>
    <h1>✅ Order Placed</h1>
</nav>

<div class="container">
    <h2>Thank you for your purchase!</h2>
    <a href="/">
        <button>Back to Home</button>
    </a>
</div>

</body>
</html>
